* {
    margin: 0px;
    padding: 0px;
    font-family: "SourceSansProRegular", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../font/SourceSansProRegular/SourceSansProRegular.eot');
    src: url('../font/SourceSansProRegular/SourceSansProRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansProRegular/SourceSansProRegular.ttf')  format('truetype'),
         url('../font/SourceSansProRegular/SourceSansProRegular.svg#svgFontName') format('svg');
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    padding: 7px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1em;
    outline: none;
    transition: background 0.5s ease;
}

/* to normalize the hegiht between buttons and links that act like buttons */
input.button {
    font-size: 1.12em;
}

.button:active {
    position: relative;
    top:3px;
    box-shadow: none;
}

.primary {
    background: #e9e9e9;
    color: #666;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.primary:hover {
    background: #f6f6f6;
}

.secondary {
    background: #484848;
    color: #fff;
    /*box-shadow: 0 0px 1px rgba(0, 0, 0, 0.83);*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.secondary:hover {
    background: #7d7d7d;
}