* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #484848;
    -webkit-text-stroke: 0.35px;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../font/SourceSansProRegular/SourceSansProRegular.eot');
    src: url('../font/SourceSansProRegular/SourceSansProRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansProRegular/SourceSansProRegular.ttf')  format('truetype'),
         url('../font/SourceSansProRegular/SourceSansProRegular.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'SourceSansProSemiBold';
    src: url('../font/SourceSansProSemiBold/SourceSansProSemiBold.eot');
    src: url('../font/SourceSansProSemiBold/SourceSansProSemiBold.eot?#iefix') format('embedded-opentype'),
         url('../font/SourceSansProSemiBold/SourceSansProSemiBold.ttf')  format('truetype'),
         url('../font/SourceSansProSemiBold/SourceSansProSemiBold.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../font/MontserratBold/MontserratBold.eot');
    src: url('../font/MontserratBold/MontserratBold.eot?#iefix') format('embedded-opentype'),
         url('../font/MontserratBold/MontserratBold.ttf')  format('truetype'),
         url('../font/MontserratBold/MontserratBold.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat.eot');
    src: url('../font/Montserrat/Montserrat.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat/Montserrat.ttf')  format('truetype'),
         url('../font/Montserrat/Montserrat.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../font/RobotoLight/RobotoLight.eot');
    src: url('../font/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'),
         url('../font/RobotoLight/RobotoLight.ttf')  format('truetype'),
         url('../font/RobotoLight/RobotoLight.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../font/RobotoThin/RobotoThin.eot');
    src: url('../font/RobotoThin/RobotoThin.eot?#iefix') format('embedded-opentype'),
         url('../font/RobotoThin/RobotoThin.ttf')  format('truetype'),
         url('../font/RobotoThin/RobotoThin.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../font/RobotoRegular/RobotoRegular.eot');
    src: url('../font/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/RobotoRegular/RobotoRegular.ttf')  format('truetype'),
         url('../font/RobotoRegular/RobotoRegular.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'IconFont';
    src: url('../font/IconFont/IconFont.eot');
    src: url('../font/IconFont/IconFont.eot?#iefix') format('embedded-opentype'),
         url('../font/IconFont/IconFont.ttf')  format('truetype'),
         url('../font/IconFont/IconFont.svg#svgFontName') format('svg');
}

body {
    background: #f6f6f6;
}

.disabled {
    pointer-events: none;
}
.button {
/*    text-transform: uppercase;*/
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    padding: 12px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.05em;
    outline: none;
    min-width: 115px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
    -moz-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
    -o-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}


/* to normalize the width between buttons and links that act like buttons */
a.button {
    min-width: 75px;
}

.button:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}

.button.primary {
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    color: #484848;
}

.button.primary:hover {
    background: #484848;
    border-color: #484848;
    color: #f6f6f6;
}

.button.secondary {
    background: #484848;
    border: 1px solid #484848;
    color: #f6f6f6;
}

.button.secondary:hover{
    background: #f6f6f6;
    border-color: #e8e8e8;
    color: #484848;
}

.button.success {
    background: #63e67a;
    border: 1px solid #63e67a;
    color: #fff;
}

.button.success:hover {
    background-color: #4cd964;
    border-color: #4cd964;
}

.button.error {
    background: #ff6157;
    border: 1px solid #ff6157;
    color: #fff;
}

.button.error:hover {
    background-color: #ff3b30;
    border-color: #ff3b30;
}

.button.warning {
    background: #ffd547;
    border: 1px solid #ffd547;
    color: #fff;
}

.button.warning:hover {
    background-color: #ffca14;
    border-color: #ffca14;
}

.button.info {
    background: #49baeb;
    border: 1px solid #49baeb;
    color: #fff;
}

.button.info:hover {
    background-color: #34aadc;
    border-color: #34aadc;
}

.button.disabled {
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    color: #bfbfbf;
}

a:not(.button) {
    color: #0000ff;
}

a:not(.button):active, a:not(.button):visited:active {
    color: #ff0000;
}

a:not(.button):visited {
    color: rgb(85, 26, 139);
}

input[type="text"] {
    padding: 12px 14.5px;
    font-size: 1.00em;
    font-weight: none;
    background: none;
    color: #484848;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #484848;
    outline: none;
}

input[type="text"].error::-webkit-input-placeholder {
   color: rgba(72, 72, 72, 0.5);
}

input[type="text"].error:-moz-placeholder {
   color: rgba(72, 72, 72, 0.5);  
}

input[type="text"].error::-moz-placeholder {
   color: rgba(72, 72, 72, 0.5);  
}

input[type="text"]:-ms-input-placeholder {  
   color: rgba(72, 72, 72, 0.5);  
}

input[type="text"].error {
    border: 2px solid #ff3b30;
    color: #ff3b30;
}

input[type="text"].error::-webkit-input-placeholder {
   color: rgba(255, 173, 168, 0.5);
}

input[type="text"].error:-moz-placeholder {
   color: rgba(255, 173, 168, 0.5);  
}

input[type="text"].error::-moz-placeholder {
   color: rgba(255, 173, 168, 0.5);  
}

input[type="text"].error:-ms-input-placeholder {  
   color: rgba(255, 173, 168, 0.5);  
}

input[type="text"].success {
    border: 2px solid #4cd964;
    color: #4cd964;
}

input[type="text"].success::-webkit-input-placeholder {
   color: rgba(182, 224, 189, 0.5);
}

input[type="text"].success:-moz-placeholder {
   color: rgba(182, 224, 189, 0.5);  
}

input[type="text"].success::-moz-placeholder {
   color: rgba(182, 224, 189, 0.5);  
}

input[type="text"].success:-ms-input-placeholder {  
   color: rgba(182, 224, 189, 0.5);  
}

input[type="text"].disabled {
    border: 2px solid #bbb;
    color: #bbb;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #bbb;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin: 0 5px;
    outline: none;
}

input[type="radio"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -ms-appearance: button;
    -o-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


input[type="radio"].light:not(input[type="radio"].light::-ms-check) {
    background: #bbb;
}

input[type="radio"].light:checked {
    background: #484848;
    border: 5px solid #bbb;
}

input[type="radio"].light::-ms-check {
    background: #bbb;
    color: #484848;
    width: auto;
    height: auto;
    border: 1.5px solid #bbb;
}

input[type="radio"].dark {
    background: #484848;
}

input[type="radio"].dark:checked {
    background: #bbb;
    border: 5px solid #484848;
}

input[type="radio"].dark::-ms-check {
    background: #484848;
    color: #bbb;
    width: auto;
    height: auto;
    border: 1.5px solid #484848;
}

/*input[type="radio"] {
    display: none;
}

input[type="radio"] + label:before {
    content: "\e601";
    display: inline-block;
    font-family: "IconFont";
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1em;
    margin-right: 3px;
    margin-top: 0px;
    vertical-align: top;
}

input[type="radio"]:checked + label:before {
    content: "\e600";
}

input[type="radio"].dark + label:before {
    content: "\e602";
}

input[type="radio"].dark:checked + label:before {
    content: "\e603";
}*/