/* color */
/* general */
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../font/HelveticaNeue/HelveticaNeue.eot");
  src: url("../font/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("../font/HelveticaNeue/HelveticaNeue.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MontserratBold";
  src: url("../font/MontserratBold/MontserratBold.eot");
  src: url("../font/MontserratBold/MontserratBold.eot?#iefix") format("embedded-opentype"), url("../font/MontserratBold/MontserratBold.ttf") format("truetype"), url("../font/MontserratBold/MontserratBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat.eot");
  src: url("../font/Montserrat/Montserrat.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat/Montserrat.ttf") format("truetype"), url("../font/Montserrat/Montserrat.svg#svgFontName") format("svg"); }

@font-face {
  font-family: "FontAwesome";
  src: url("../font/FontAwesome/FontAwesome.eot");
  src: url("../font/FontAwesome/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../font/FontAwesome/FontAwesome.ttf") format("truetype"), url("../font/FontAwesome/FontAwesome.svg#svgFontName") format("svg"); }

/* buttons */
/* to normalize the width between buttons and links that act like buttons */
a.button {
  min-width: 75px; }

.button {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1.05em;
  outline: none;
  min-width: 115px;
  text-align: center;
  background: #f6f6f6;
  border: 1px solid #dbdbdb;
  color: #484848;
  border-radius: 2px;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  -moz-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  -ms-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  -o-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .button:hover {
    background: #484848;
    border-color: #484848;
    color: #f6f6f6; }
  .button:active {
    position: relative;
    top: 2px;
    box-shadow: none; }

.button.secondary {
  background: #484848;
  border-color: #484848;
  color: #f6f6f6; }
  .button.secondary:hover {
    background: #f6f6f6;
    border-color: #dbdbdb;
    color: #484848; }

.button.success {
  background: #63e67a;
  border-color: #63e67a;
  color: white; }
  .button.success:hover {
    background: #4cd964;
    border-color: #4cd964;
    color: white; }

.button.error {
  background: #ff6157;
  border-color: #ff6157;
  color: white; }
  .button.error:hover {
    background: #ff3b30;
    border-color: #ff3b30;
    color: white; }

.button.warning {
  background: #ffd547;
  border-color: #ffd547;
  color: white; }
  .button.warning:hover {
    background: #ffca14;
    border-color: #ffca14;
    color: white; }

.button.info {
  background: #49baeb;
  border-color: #49baeb;
  color: white; }
  .button.info:hover {
    background: #34aadc;
    border-color: #34aadc;
    color: white; }

.button.disabled {
  background: #f6f6f6;
  border-color: #e8e8e8;
  color: #bfbfbf; }
  .button.disabled:hover {
    background: #e8e8e8;
    border-color: #bfbfbf;
    color: #bfbfbf; }

/* input text */
input[type="text"] {
  padding: 12px 14.5px;
  width: 174px;
  font-size: 1em;
  font-weight: none;
  background: none;
  color: #484848;
  border: none;
  border-radius: 2px;
  border: 2px solid #484848;
  outline: none; }

input[type="text"].success {
  color: #4cd964;
  border: 2px solid #4cd964; }

input[type="text"].success::-webkit-input-placeholder {
  color: rgba(182, 224, 189, 0.7); }

input[type="text"].success::-moz-placeholder {
  color: rgba(182, 224, 189, 0.7); }

input[type="text"].success:-moz-placeholder {
  color: rgba(182, 224, 189, 0.7); }

input[type="text"].success:-ms-input-placeholder {
  color: rgba(182, 224, 189, 0.7); }

input[type="text"].error {
  color: #ff3b30;
  border: 2px solid #ff3b30; }

input[type="text"].error::-webkit-input-placeholder {
  color: rgba(255, 173, 168, 0.7); }

input[type="text"].error::-moz-placeholder {
  color: rgba(255, 173, 168, 0.7); }

input[type="text"].error:-moz-placeholder {
  color: rgba(255, 173, 168, 0.7); }

input[type="text"].error:-ms-input-placeholder {
  color: rgba(255, 173, 168, 0.7); }

input[type="text"]:disabled {
  color: #bbbbbb;
  border: 2px solid #bbbbbb; }

input[type="text"]:disabled::-webkit-input-placeholder {
  color: #989898; }

input[type="text"]:disabled::-moz-placeholder {
  color: #989898; }

input[type="text"]:disabled:-moz-placeholder {
  color: #989898; }

input[type="text"]:disabled:-ms-input-placeholder {
  color: #989898; }

/* checkbox/radio */
input[type="checkbox"],
input[type="radio"] {
  display: none; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  position: relative; }

input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after,
input[type="radio"] + label::before,
input[type="radio"] + label::after {
  font-family: "FontAwesome";
  content: "";
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  line-height: 23px;
  height: 25px;
  width: 25px;
  margin-top: -3px;
  font-size: 1em;
  margin: 0 5px;
  -webkit-text-stroke: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease; }

input[type="radio"] + label::before,
input[type="radio"] + label::after {
  border-radius: 25px; }

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: #f6f6f6;
  border: 1px solid #333333;
  color: #484848; }

input[type="checkbox"] + label::after,
input[type="radio"] + label::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: none;
  color: #f6f6f6; }

input[type="checkbox"]:checked:disabled + label::after,
input[type="radio"]:checked:disabled + label::after,
input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
  content: "\f00C"; }

input[type="checkbox"]:checked:not(:disabled) + label::before,
input[type="radio"]:checked:not(:disabled) + label::before {
  content: "";
  box-shadow: inset 0 0 0 15px #484848;
  color: #f6f6f6;
  border: none; }

input[type="checkbox"]:not(:checked):not(:disabled) + label:hover::before,
input[type="radio"]:not(:checked):not(:disabled) + label:hover::before {
  border: 1px solid #333333; }

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  background: #f6f6f6;
  color: #bfbfbf;
  border: 1px solid #bfbfbf; }

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label::after,
input[type="radio"]:disabled + label::after {
  color: #bfbfbf; }

/* grid */
.column,
.columns {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fixed,
.fixed-fluid,
.fluid {
  margin: 0 auto; }

.fixed {
  width: 960px;
  min-width: 960px; }

.fixed-fluid {
  max-width: 1140px;
  width: auto; }

.fluid {
  width: 90%; }

.fixed:before, .fixed:after,
.fixed-fluid:before, .fixed-fluid:after,
.fluid:before, .fluid:after,
.row:before, .row:after {
  display: table;
  content: " "; }

.fixed:after,
.fixed-fluid:after,
.fluid:after,
.row:after {
  clear: both; }

.fixed,
.fixed-fluid,
.fluid,
.row {
  overflow: hidden;
  *zoom: 1; }

/* ==================== *\
- Column/s Class
\* ==================== */
.column,
.columns {
  position: relative;
  float: left;
  min-height: 1px; }

.column.centered,
.columns.centered {
  position: relative;
  float: none;
  overflow: hidden;
  margin: 0 auto; }

.fixed .column,
.fixed .columns {
  padding-right: 1.4583333333333333333333333333333%;
  padding-left: 1.4583333333333333333333333333333%; }

.fixed-fluid .column,
.fixed-fluid .columns {
  padding-right: 1.2280701754385964912280701754386%;
  padding-left: 1.2280701754385964912280701754386%; }

.fluid .column,
.fluid .columns {
  padding-right: 1.5%;
  padding-left: 1.5%; }

.fixed .row .row {
  margin-right: -1.4583333333333333333333333333333%;
  margin-left: -1.4583333333333333333333333333333%; }

.fixed-fluid .row .row {
  margin-right: -1.2280701754385964912280701754386%;
  margin-left: -1.2280701754385964912280701754386%; }

.fluid .row .row {
  margin-right: -1.5%;
  margin-left: -1.5%; }

.show-large {
  display: block !important;
  visibility: visible !important; }

.hide-large {
  display: none !important;
  visibility: hidden !important; }

/* columns widths */
.fixed .one-large,
.fixed-fluid .one-large,
.fluid .one-large {
  width: 8.33333%; }

/* push columns */
.fixed .push-one,
.fixed-fluid .push-one,
.fluid .push-one {
  left: 8.33333%; }

/* pull columns*/
.fixed .pull-one,
.fixed-fluid .pull-one,
.fluid .pull-one {
  right: 8.33333%; }

/* offset */
.fixed .offset-one,
.fixed-fluid .offset-one,
.fluid .offset-one {
  margin-left: 8.33333%; }

/* columns widths */
.fixed .two-large,
.fixed-fluid .two-large,
.fluid .two-large {
  width: 16.66667%; }

/* push columns */
.fixed .push-two,
.fixed-fluid .push-two,
.fluid .push-two {
  left: 16.66667%; }

/* pull columns*/
.fixed .pull-two,
.fixed-fluid .pull-two,
.fluid .pull-two {
  right: 16.66667%; }

/* offset */
.fixed .offset-two,
.fixed-fluid .offset-two,
.fluid .offset-two {
  margin-left: 16.66667%; }

/* columns widths */
.fixed .three-large,
.fixed-fluid .three-large,
.fluid .three-large {
  width: 25%; }

/* push columns */
.fixed .push-three,
.fixed-fluid .push-three,
.fluid .push-three {
  left: 25%; }

/* pull columns*/
.fixed .pull-three,
.fixed-fluid .pull-three,
.fluid .pull-three {
  right: 25%; }

/* offset */
.fixed .offset-three,
.fixed-fluid .offset-three,
.fluid .offset-three {
  margin-left: 25%; }

/* columns widths */
.fixed .four-large,
.fixed-fluid .four-large,
.fluid .four-large {
  width: 33.33333%; }

/* push columns */
.fixed .push-four,
.fixed-fluid .push-four,
.fluid .push-four {
  left: 33.33333%; }

/* pull columns*/
.fixed .pull-four,
.fixed-fluid .pull-four,
.fluid .pull-four {
  right: 33.33333%; }

/* offset */
.fixed .offset-four,
.fixed-fluid .offset-four,
.fluid .offset-four {
  margin-left: 33.33333%; }

/* columns widths */
.fixed .five-large,
.fixed-fluid .five-large,
.fluid .five-large {
  width: 41.66667%; }

/* push columns */
.fixed .push-five,
.fixed-fluid .push-five,
.fluid .push-five {
  left: 41.66667%; }

/* pull columns*/
.fixed .pull-five,
.fixed-fluid .pull-five,
.fluid .pull-five {
  right: 41.66667%; }

/* offset */
.fixed .offset-five,
.fixed-fluid .offset-five,
.fluid .offset-five {
  margin-left: 41.66667%; }

/* columns widths */
.fixed .six-large,
.fixed-fluid .six-large,
.fluid .six-large {
  width: 50%; }

/* push columns */
.fixed .push-six,
.fixed-fluid .push-six,
.fluid .push-six {
  left: 50%; }

/* pull columns*/
.fixed .pull-six,
.fixed-fluid .pull-six,
.fluid .pull-six {
  right: 50%; }

/* offset */
.fixed .offset-six,
.fixed-fluid .offset-six,
.fluid .offset-six {
  margin-left: 50%; }

/* columns widths */
.fixed .seven-large,
.fixed-fluid .seven-large,
.fluid .seven-large {
  width: 58.33333%; }

/* push columns */
.fixed .push-seven,
.fixed-fluid .push-seven,
.fluid .push-seven {
  left: 58.33333%; }

/* pull columns*/
.fixed .pull-seven,
.fixed-fluid .pull-seven,
.fluid .pull-seven {
  right: 58.33333%; }

/* offset */
.fixed .offset-seven,
.fixed-fluid .offset-seven,
.fluid .offset-seven {
  margin-left: 58.33333%; }

/* columns widths */
.fixed .eight-large,
.fixed-fluid .eight-large,
.fluid .eight-large {
  width: 66.66667%; }

/* push columns */
.fixed .push-eight,
.fixed-fluid .push-eight,
.fluid .push-eight {
  left: 66.66667%; }

/* pull columns*/
.fixed .pull-eight,
.fixed-fluid .pull-eight,
.fluid .pull-eight {
  right: 66.66667%; }

/* offset */
.fixed .offset-eight,
.fixed-fluid .offset-eight,
.fluid .offset-eight {
  margin-left: 66.66667%; }

/* columns widths */
.fixed .nine-large,
.fixed-fluid .nine-large,
.fluid .nine-large {
  width: 75%; }

/* push columns */
.fixed .push-nine,
.fixed-fluid .push-nine,
.fluid .push-nine {
  left: 75%; }

/* pull columns*/
.fixed .pull-nine,
.fixed-fluid .pull-nine,
.fluid .pull-nine {
  right: 75%; }

/* offset */
.fixed .offset-nine,
.fixed-fluid .offset-nine,
.fluid .offset-nine {
  margin-left: 75%; }

/* columns widths */
.fixed .ten-large,
.fixed-fluid .ten-large,
.fluid .ten-large {
  width: 83.33333%; }

/* push columns */
.fixed .push-ten,
.fixed-fluid .push-ten,
.fluid .push-ten {
  left: 83.33333%; }

/* pull columns*/
.fixed .pull-ten,
.fixed-fluid .pull-ten,
.fluid .pull-ten {
  right: 83.33333%; }

/* offset */
.fixed .offset-ten,
.fixed-fluid .offset-ten,
.fluid .offset-ten {
  margin-left: 83.33333%; }

/* columns widths */
.fixed .eleven-large,
.fixed-fluid .eleven-large,
.fluid .eleven-large {
  width: 91.66667%; }

/* push columns */
.fixed .push-eleven,
.fixed-fluid .push-eleven,
.fluid .push-eleven {
  left: 91.66667%; }

/* pull columns*/
.fixed .pull-eleven,
.fixed-fluid .pull-eleven,
.fluid .pull-eleven {
  right: 91.66667%; }

/* offset */
.fixed .offset-eleven,
.fixed-fluid .offset-eleven,
.fluid .offset-eleven {
  margin-left: 91.66667%; }

/* columns widths */
.fixed .twelve-large,
.fixed-fluid .twelve-large,
.fluid .twelve-large {
  width: 100%; }

/* push columns */
.fixed .push-twelve,
.fixed-fluid .push-twelve,
.fluid .push-twelve {
  left: 100%; }

/* pull columns*/
.fixed .pull-twelve,
.fixed-fluid .pull-twelve,
.fluid .pull-twelve {
  right: 100%; }

/* offset */
.fixed .offset-twelve,
.fixed-fluid .offset-twelve,
.fluid .offset-twelve {
  margin-left: 100%; }

* {
  margin: 0px;
  padding: 0px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #484848;
  -webkit-text-stroke: 0.35px;
  -webkit-font-smoothing: antialiased; }

body {
  background: #f6f6f6; }

.container {
  width: 960px;
  margin: 100px auto; }

a:not(.button) {
  color: #0000ff; }

a:not(.button):active, a:not(.button):visited:active {
  color: #ff0000; }

a:not(.button):visited {
  color: #551a8b; }

:disabled, .disabled {
  pointer-events: none; }
