@mixin button($background, $color, $flex-min-width, $flex-max-width) {

    background: $background;
    color: $color;

    &.flex-width {
        display: block;
        width: $flex-max-width;
        min-width: $flex-min-width;
        margin: 0 auto;

        div {
            display: block;
            width: auto;
            text-align: center;
            padding: 5px;
        }
    }
    
    //this is experiemental and has only been tested in chrome, firefox and safari
    &.frosted {
        position: relative;
        display: inline-block;
        overflow: hidden;
        visibility: visible;

        &::before {
            visibility: visible;
            content: '';
            position: absolute;
            display: block;
            width: 120%;
            height: 110%;
            top: -5%;
            bottom: -5%;
            background: inherit;
            @include vendor-prefix(filter, url("blur.svg#blur"));
            -webkit-filter: url("css/blur.svg#blur");
            filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');

        }

        div {
            padding: 10px 15px;
            color: $color;
            background: rgba($background, 0.2);
            position: relative;
            display: inline-block;
            visibility: visible;
            @include vendor-prefix(transition, background 0.3s ease);

            &:hover {
                background: rgba($background, 0.4);
            }
        }
    }
}