@mixin button($background, $color) {

    div {
        background: $background;
        color: $color;
        display: inline-block;
        padding: 10px 15px;
        @include vendor-prefix(transition, background 0.3s ease);
    }

    @each $name, $color in (success: $success, error: $error, warning: $warning, info: $info) {
        &.#{$name} {
            div {
                background: $color;
                color: $white;

                &:hover {
                    background: lighten($color, 5%);
                }
            }

            &.inverted {
                div {
                    background: $white;
                    color: $color;

                    &:hover {
                        background: lighten($white, 5%);
                    }
                }
            }

            &:active {
                div {
                    background: $color;
                }
            }
        }
    }
    
    //this is experiemental and has only been tested in chrome, firefox and safari
    &.frosted {
        position: relative;
        display: inline-block;
        overflow: hidden;
        visibility: visible;

        &::before {
            visibility: visible;
            content: '';
            position: absolute;
            display: block;
            width: 120%;
            height: 110%;
            top: -5%;
            bottom: -5%;
            background: inherit;
            @include vendor-prefix(filter, url("blur.svg#blur"));
            -webkit-filter: url("css/blur.svg#blur");
            filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');

        }

        div {
            padding: 10px 15px;
            color: $color;
            background: rgba($background, 0.2);
            position: relative;
            display: inline-block;
            visibility: visible;

            &:hover {
                background: rgba($background, 0.4);
            }
        }

        &:active {
            div {
                background: rgba($background, 0.2);
            }
        }
    }

    &.block {
        display: block;
        margin: 0 auto;

        div {
            display: block;
            width: auto;
            text-align: center;
            padding: 10px 0;
        }
    }
}