/* color */

$white: #FFFFFF;

$grey: #DBDBDB;
$light-grey: #F6F6F6;
$lighter-dark-grey: #BFBFBF;
$dark-grey: #484848;

$success-primary-color: #63E67A;
$success-secondary-color: #4CD964;

$error-primary-color: #FF6157;
$error-secondary-color: #FF3B30;

$warning-primary-color: #FFD547;
$warning-secondary-color: #FFCA14;

$info-primary-color: #49BAEB;
$info-secondary-color: #34AADC;

$disabled-primary-color: $light-grey;

/* general */

$color-link: #0000FF;
$color-link-hover: #0000FF;
$color-link-active: #FF0000;
$color-link-visited: #551A8B;