/* select menu */
/*
select {
	display: none;
}
*/

.select {
	text-decoration: none;
	list-style: none;
	list-style-type: none;

	.select li {
		text-decoration: none;
		list-style: none;
		list-style-type: none;
	}
}