@import "mixins";
@import "buttons";
@import "grid";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #484848;
    -webkit-text-stroke: 0.35px;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body {
    background: url(origin("/images/stuff.jpg")) no-repeat 50% 50% fixed;
    @include vendor-prefix(background-size, cover);
}

:disabled, .disabled {
    pointer-events: none;
}

a {
    text-decoration: none;
}

.content {
    width: 100%;
    padding: 20px;
}

.grid__col {

    &.button-col-centered {
        text-align: center;
    }
}

.button {
    @include button(#eaeaea, #8D8D8D, none, 200px);
}