@import "mixins";
@import "buttons";
/*@import "grid";*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #484848;
    -webkit-text-stroke: 0.35px;
    -webkit-font-smoothing: antialiased;
    @include vendor-prefix(box-sizing, border-box);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #f6f6f6;
}

:disabled, .disabled {
    pointer-events: none;
}

.container {
    width: 100%;
    padding: 20px;
}

.button {
    @include button(#eaeaea, black);
}