@import "mixins";
@import "buttons";
/*@import "grid";*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #484848;
    -webkit-text-stroke: 0.35px;
    -webkit-font-smoothing: antialiased;
    @include vendor-prefix(box-sizing, border-box);
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body { 
}

:disabled, .disabled {
    pointer-events: none;
}

.container {
    width: 100%;
    padding: 20px;
    background: url(origin("/images/stuff.jpg")) no-repeat 50% 50% fixed;
    background-size: cover;
    position: relative;
}

.button {
    @include button(#eaeaea, black);
}

// .btn-2 {
//     @include button(#ff0000, black);
// }